:root {
  --bg-color: #cecaae;
  --header-color: #292425;
  --paragraph-color: #292425c6;

  --header-font: "Montserrat", sans-serif;
  --paragraph-font: "Poppins", sans-serif;

  --text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.798);
  --image-shadow: 3px 3px 2rem #000;
  --shadow-box: 8px 3px 4rem rgba(0, 0, 0, 0.734);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: 1.5rem;
  line-height: 1.5;
}

header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

header,
h2 {
  color: var(--header-color);
  font-family: var(--header-font);
  font-size: 1.6rem;
}

h2 {
  padding: 0 1rem;
}

img {
  width: 40%;
}

ul {
  padding: 2rem 3.5rem;
}

section p {
  padding: 5px 1rem;
}

footer {
  background-color: var(--bg-color);
  text-align: center;
  padding: 2rem 4rem;
  margin-top: 3rem;
}

.update-date {
  color: #5c3024;
  font-size: 1.4rem;
}
